# IntelliJ IDEA
.idea/
*.iml

# Java / Maven
target/
*.class
*.log

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# Local config
.env
application-local.yml
application-dev-local.yml

# runtime
logs/
temp/
upload-temp/
